<div class="cardbody">
    <div class="container mt-5 body">
        <form novalidate>
            <div class="row">
                <div class="col-md-6 mt-3 visa"><i>VISA</i></div>
                <div class="col-md-6 mt-4" id="card">ENTER DETAILS</div>
            </div>

            <div class="row mt-3" id="num">
                <div class="col-md-12">CARD NUMBER</div>
            </div>
            <div class="c-details">

                <div class="row mt-2">

                    <div class="col-md-3 ">
                        <input type="number" class="form-control" name="cardNumber1" [(ngModel)]="cNumber1"
                            pattern="[0-9]{4}" placeholder="XXXX" required>
                    </div>
                    <div class="col-md-1">
                        <p>-</p>
                    </div>
                    <div class="col-md-3 ">
                        <input type="number" class="form-control" name="cardNumber2" [(ngModel)]="cNumber2"
                            pattern="[0-9]{4}" placeholder="XXXX" maxlength="4" required>
                    </div>
                    <div class="col-md-1">
                        <p>-</p>
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" name="cardNumber3" [(ngModel)]="cNumber3"
                            pattern="[0-9]{4}" placeholder="XXXX" maxlength="4" required>
                    </div>
                </div>

            </div>

            <div class="row mt-4" id="date">
                <div class="col-md-6">
                    <label for="usr">EXPIRY</label>
                    <input type="month" class="form-control input2 col-md-4 mt-2" name="cardExpiry"
                        [(ngModel)]="cExpiry" placeholder="MM/YY" required>
                </div>
            </div>
            <div class="row mt-4" id="name">
                <div class="col">
                    <div class="form-group">
                        <label for="usr">CARD HOLDER</label>
                        <input type="text" class="form-control input1 col-md-4 mt-2" name="cardHolder"
                            placeholder="Name" [(ngModel)]="cHolder"
                            oninput="this.value = this.value.replace(/[^a-z, ]/, '')">
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="form-group d-flex mt-2 justify-content-center">
        <button class="btn btn-success" (click)="addcard()">Submit</button>
    </div>
</div>